.turtlebot-status-page { 
    padding: 2rem; 
    background-color: #f6f6f6; 
    color: #333; 
}

.status-row {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.general-status-block { 
    display: flex; 
    flex-direction: column; 
    align-items: left; 
    gap: 0.5rem; 
    padding: 1rem; 
    border-radius: 20px; 
    background-color: #fff; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); 
    width: 150px; }

.status-icon { 
    font-size: 2rem; 
    color: #007b8f; 
} 

.status-info { 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
} 

.status-label { 
    font-weight: 650; 
    font-size: 1rem; 
    color: #333; 
} 

/* General Status Blocks Styles */
.battery-icon, .wifi-icon, .raspberry-icon, .comms-icon {
    width: 50px;
    height: 50px;
}

/* Mode Status Styles */

.mode-status { 
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
    font-size: 1.2rem; 
    font-weight: 500; 
    margin-top: 1rem; 
} 

.mode-label { 
    color: #555; 
} 

.mode-value {  
    font-weight: 600; 
}


/* Power Status Styles */
.power-status { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 0.5rem; 
    padding: 2rem;
} 

.power-icon { 
    width: 60px; 
    height: 60px; 
    mask-image: url('./assets/power.svg');
    mask-size: contain; 
    mask-repeat: no-repeat; 
    mask-position: center; 
} 

.power-label { 
    font-size: 1.1rem; 
    font-weight: 600; 
}

/* Teleoperation Styles */

.teleoperation-block {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 16px;
    width: fit-content;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); 
}

.teleoperation-block.disabled {
    opacity: 0.4;
    pointer-events: none;
}

.teleop-button { 
    background: none; 
    border: none; 
    padding: 0; 
    margin: 0; 
    box-shadow: none; 
    outline: none; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.teleop-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.teleop-icon { 
    width: 40px; 
    height: 40px; 
}

.direction-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
}

.horizontal-row {
    display: flex;
    gap: 3.9rem;
}

.action-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* MOCK TELEOP STYLE DELETE AFTER */
.teleop-log { 
    margin-left: 2rem; 
    padding: 1rem;
    background: #ffffff; 
    border-radius: 12px; 
    width: 250px; 
    max-height: 300px; 
    overflow-y: auto; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1); 
} 

.teleop-log h3 { 
    margin-top: 0; 
    font-size: 1rem; 
    font-weight: 600; 
} 

.teleop-log ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 
    
.teleop-log li { 
    font-family: monospace; 
    font-size: 0.85rem; 
    padding: 4px 0; 
    border-bottom: 1px solid #eee; 
}
/* End of MOCK TELEOP STYLE DELETE AFTER */