.page {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #F6F6F6;
    min-width: 100vw;
    min-height: 100vh;
}


.header {
    color: #000;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #aaa;
}


.header-line {
    font-weight: 600;
}


.logo {
    height: 100px;
}


.tab-button {
    position: relative;
    cursor: pointer;
    color: #333;
    text-decoration: none;
    padding-bottom: 4px;
    transition: color 0.2s ease;
}


.tab-button:hover:not(.disabled) {
    background-color: #828dab;
}


.tab-button.active {
    background-color: #5faea1;
}


.tab-button.disabled {
    color: #aaa;
    cursor: not-allowed;
}


/* Turtlebot Layout */
.turtlebot-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.turtlebot-content {
    flex: 1;
    padding: 2rem;
    background-color: #f6f6f6;
}
