/* Page styling */

.turtlebot-status-page {
    color: #000;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    padding: 2rem;
}

.turtlebot-map-page {
    color: #000;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    padding: 2rem;
}

.turtlebot-feedback-page {
    color: #000;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    padding: 2rem;
}

/* Navbar Styling*/

.turtlebot-navbar {
    font-family: Helvetica, sans-serif;
    padding-left: 2rem;
    text-align: left;
    background-color: #F6F6F6;
    min-width: 100vw;
}

.tab-button {
    font-size: 1rem;
    padding: 0.5rem 1rem; 
    margin: 0 0.5rem; 
    border-bottom: 2px solid transparent; 
    border: none;
    background-color: transparent; 
    color: #000; 
    cursor: pointer; 
    transition: all 0.2s ease;
    position: relative;
}

.tab-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.tab-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #242626;
    transition: width 0.3s ease, left 0.3s ease;
}


.tab-button:hover:not(.disabled) {
    color: #00A699; 
}


.tab-button.active {
   color: #007b8f; 
   font-weight: 600; 
}


.tab-button.active::after {
    width: 100%;
    left: 0;
}


.tab-button.disabled {
    color: #aaa;
    cursor: not-allowed;
}


/* Turtlebot Layout */
.turtlebot-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.turtlebot-content {
    flex: 1;
    padding: 2rem;
    background-color: #f6f6f6;
}
