/* Page styling */

.turtlebot-map-page {
    color: #000;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    padding: 2rem;
}

.turtlebot-feedback-page {
    color: #000;
    font-size: 1.8rem;
    font-family: Helvetica, sans-serif;
    padding: 2rem;
}

/* Navbar Styling*/

.turtlebot-navbar {
    position: fixed;
    top: var(--header-height); /* place below header*/
    height: var(--navbar-height); /* consistent navbar height */
    z-index: 900; /* below header (header has 1000) */

    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: left;
    background-color: var(--bg-light);

    max-height: var(--navbar-height);
    min-width: 100vw;
}

.tab-button {
    font-size: 1rem;
    padding: 0.5rem 1rem; 
    margin: 0 0.5rem; 
    border-bottom: 2px solid transparent; 
    border: none;
    background-color: transparent; 
    color: #000; 
    cursor: pointer; 
    transition: all 0.2s ease;
    position: relative;
}

.tab-button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.tab-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #242626;
    transition: width 0.3s ease, left 0.3s ease;
}


.tab-button:hover:not(.disabled) {
    color: #00A699; 
}


.tab-button.active {
   color: #242626;
   font-weight: 600; 
}


.tab-button.active::after {
    width: 100%;
    left: 0;
}


.tab-button.disabled {
    color: #aaa;
    position: relative;
}

.tab-button.disabled:hover::after { 
    content: "Not available while teleoperating"; 
    position: absolute; 
    bottom: -0.8rem; 
    left: 50%; 
    transform: translateX(-50%); 
    background: #5e5d5d; 
    color: #fff; 
    padding: 0.3rem 0.6rem; 
    border-radius: 4px; 
    font-size: 0.75rem; 
    white-space: nowrap; 
    z-index: 10; 
    width: max-content;
    height: max-content;    
}


/* Turtlebot Layout */
.turtlebot-layout {
    display: flex;
    flex-direction: column;
}


.turtlebot-content {
    flex: 1;
    padding: 2rem;
}
