
.feedback-history-container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.feedback-label-row {
    display: grid;
    width: 98%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-weight: 600;
    font-size: 0.9rem;
    color: #fff;
    padding: 0.6rem 1rem;
    background-color: var(--kit-green);
    opacity: 70%;
    border-radius: 8px;
}

.feedback-log-panel {
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding-right: 1rem;
    background: transparent;
    border-radius: 12px;
    overflow-y: scroll; 
    scrollbar-gutter: stable;
}

.feedback-log-panel::-webkit-scrollbar {
  width: 10px;
}

.feedback-log-panel::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-clip: content-box;
}

.feedback-entry-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0.6rem 1rem;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,0.05);
    font-size: 0.9rem;
    border-left: 6px solid var(--neutral-gray);
    transition: border-color 0.3s ease;
}

.feedback-entry-block:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.12);
}

.feedback-tag {
    font-weight: 550;
    text-transform: uppercase;
}

.feedback-tag.good {
    color: var(--success-green);
}

.feedback-tag.bad {
    color: var(--error-red);
}

.empty-log {
    align-self: center;
    font-size: small;
}

