/* Styling for Status Page */

.turtlebot-status-page { 
    padding: 2rem; 
    background-color: var(--bg-light); 
    color: var(--text-grey); 
}

.error-page {
    position: fixed;
    top: calc(var(--header-height) + var(--navbar-height)); /* Makes sures the loading text is visible */
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: large;
    font-weight: 500;
    color: var(--kit-blue);
}

.status-row {
    display: flex;
    gap: 3.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.teleop-and-commands-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.commands-column-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}