.page {
    font-family: Helvetica, sans-serif;
    text-align: center;
    background-color: #F6F6F6;
    min-width: 100vw;
    min-height: 100vh;
}

.header {
    color: #000;
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #aaa;
}

.header-line {
    font-weight: 600;
}

.logo {
    height: 100px;
}

.title-section {
    margin-top: 5rem;
}

.title {
    color: #000;
    font-size: 6rem;
    letter-spacing: 1rem;
}

.subtitle {
    color: #555;
    font-size: 1.5rem;
    margin-top: 2rem;
}

.button-section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
}

.card {
    width: 220px;
    height: 140px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: transform 0.2s ease;
}

    .card:hover {
        transform: scale(1.05);
    }

.pixelbot {
    background-color: #5faea1;
}

.turtlebot {
    background-color: #1f3a63;
}
